<div class="banner_central" alt= "Cubicacions Banner Inicial - @phkennyeliason/Unplash" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path "cubicacions_baner_inicial_unsplash_kenny-eliason" %>')">
  <div class="container">
    <div class= "text-center">
      <h1>Cubicaciones</h1>
      <p>Calcula el Volumen de Cámara de Compresión.</p>
      <div class="mt-1">
        <script src="https://apis.google.com/js/platform.js"></script>
        <div class="g-ytsubscribe" data-channelid="UC6gKILvZxRGYUyy86tbJ9VA" data-layout="default" data-count="hidden"></div>
    </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center m-5 row">
  <div class="card col-12 col-lg-6" style="width: 18rem;">
    <div class="card-body text-center mt-5",  style="line-height: 8px;">
      <h5 class="card-title">Ultima Cubicacion</h5>
      <%= link_to cl_image_tag("cubicacionsNew_baner_inicial_combicalimba", class: "avatar-large", alt: "cubicacions"), "#" %>
      <p class="mt-3">Modelo: <%= @cubicacions.last.modelo %> </p>
      <p> Patente: <%= @cubicacions.last.patente %> </p>
      <p> Volumen de Camara de Compresion: <%= @cubicacions.last.vol_camara_compresion %> </>
    </div>
  </div>

  <div class="card col-12 col-lg-6" style="width: 18rem;">
    <div class="card-body text-center", style="line-height: 10px;">
      <h5 class="card-title">Datos</h5>
      <p> Volumen Total: <%= @cubicacions.last.vol_total %> </p>
      <p> Volumen Tapa: <%= @cubicacions.last.vo_tapa %> </p>
      <p> Volumne Bajo Block: <%= @cubicacions.last.vo_bajo_block %> </p>
      <p> Volumen Junta: <%= @cubicacions.last.vol_junta %> </p>
      <p> Junta de Diamentro:<%= @cubicacions.last.junta_diametro %></p>
      <p> Junta Espesor: <%= @cubicacions.last.junta_espesor %></p>
      <p> Cilindrada Unitaria: <%= @cubicacions.last.cilindrada_unitaria %> </p>
      <p> Cilindro Diametro: <%= @cubicacions.last.cil_diametro %> </p>
      <p> Carrera de Piston: <%= @cubicacions.last.cil_carrera_de_piston %></p>
    </div>
  </div>
</div>

<div class="container text-center mb-5">
  <%= link_to "Realizar una nueva cubicacion", new_cubicacion_path , :class => "btn btn-success" %>
</div>
